:root {
    font-family: "KoHo", Inter, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    word-break: break-word;

    --l: 50%; /* Initial lightness */
}

#root {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    min-width: 300px;
    min-height: 100vh;
}

main {
    min-height: 100vh;
    min-width: 100vw;
}

img,
video {
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}
