.ConsentModal {
    p,
    h3,
    h4,
    h5,
    button {
        margin: 0;
        font-family: "KoHo", sans-serif;
    }

    font-family: "KoHo", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #fefefe;
    color: black;
    margin-block: 30px;
    z-index: 9999;
    cursor: initial;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 100%;
    margin-inline: auto;
    min-width: 250px;
    max-width: 900px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modalBackdrop {
    align-items: flex-start;
    position: fixed;
    inset: 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    min-height: 100vh;
    padding-inline: 0.5rem;

    &::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: #0000;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #0000;
    }
}

@-webkit-keyframes animatetop {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
