.ConsentModalTop {
    position: relative;
    background: var(--vt-gradient);
    width: 100%;
    min-height: 56px;
    height: 56px;
    border-bottom: 5px solid var(--vt-color-secondary);
    margin-bottom: 35px;
    display: flex;
    justify-content: center;

    .mainLogo {
        width: clamp(70px, 100%, 70px);
        height: clamp(70px, 100%, 70px);
        text-align: center;
        transform: translateY(30%);
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fefefe;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(30px, 100%, 30px);
        height: clamp(30px, 100%, 30px);
        transition: all 0.1s ease-in-out;
        border-radius: 3px;

        &:hover {
            transform: scale(1.03);
        }
    }
}
