.ConsentModalHeader {
    padding: var(--vt-spacing-sm);
    h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .purpose {
        color: var(--vt-color-primary);
        font-size: 24px;
        margin-top: 5px;
    }
}
