.ConsentModalFooter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: var(--vt-spacing-sm);

    .certified {
        display: flex;
        align-items: center;
        gap: 4px;

        &Logo {
            width: clamp(25px, 25px, 25px);
            height: clamp(25px, 25px, 25px);
            aspect-ratio: 1/1;
            object-fit: contain;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;

        button {
            border-radius: 65px;
            cursor: pointer;
            font-size: 18px;
            padding: 12px 24px;
            min-width: 150px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: var(--vt-color-secondary);
                border-color: var(--vt-color-secondary);
                color: white;
            }
        }

        .decline {
            background: #ffffff;
            border-color: var(--vt-color-primary);
            transition: all 0.1s ease-in;
        }
    }
}
