.Button {
    cursor: pointer;
    border: none;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 10px;
}

.primary {
    background-color: var(--color-primary);
    color: var(--text-on-primary);

    a {
        color: var(--text-on-primary);
    }
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--text-secondary);

    a {
        color: var(--text-secondary);
    }
}

.accent {
    background-color: var(--color-accent);
    color: var(--text-on-primary);

    a {
        color: var(--text-on-primary);
    }
}

.disabled {
    cursor: default;
    filter: brightness(85%);
    pointer-events: none;

    &:hover {
        filter: brightness(85%);
    }
}
