.NavBar {
    height: 50px;
    color: var(--text-on-primary);
    background-color: var(--color-navbar);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.brand {
    flex: 2;
}

.nav {
    flex: 6;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
}