<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://staging.api.visionstrust.com/assets/modal.js" type="text/javascript" defer></script>
</head>
<body>

<!--data-availableExchangesEndpoint="https://provider-data-connector-253244a6c16c.herokuapp.com/private/consent/exchanges/provider"-->

<consent-modal
        id="test"
        data-privacyNoticeEndpoint="<%= privacyNoticeEndpoint %>"
        data-userIdentifier="<%= userId %>"
        data-DSCAdminJWT="<%= DSCAdminJWT %>"
>
    <!-- <button slot="buttonOpenModal">Custom open</button> -->
</consent-modal>
</body>
</html>