.CardCollapse {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--default-light-color);
    width: auto;
    text-align: start;
    border-radius: var(--vt-radius-md);
    height: max-content;

    .header {
        cursor: pointer;
        padding: 0;

        &Wrapper {
            width: 100%;
            display: flex;

            .avatar {
                aspect-ratio: 1/1;
                width: 35px;
                height: 35px;
            }

            .details {
                flex: 1;
                overflow: hidden;
            }

            .title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: bold;
            }
        }

        .description {
            margin: 0;
            margin-top: var(--vt-spacing-xs);
            font-size: var(--font-size-xs);
        }
    }

    .wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.25s ease-in-out;
        .inner {
            overflow: hidden;
            transition: all 0.2s ease;
        }
    }

    .isVisible {
        grid-template-rows: 1fr;

        .inner {
            margin-top: var(--vt-spacing-sm);
        }
    }

    .footer {
        margin-top: var(--vt-spacing-md);
    }
}

.smallCardCollapse {
    padding: var(--vt-spacing-sm);
}
.middleCardCollapse {
    padding: var(--vt-spacing-md);
}
.largeCardCollapse {
    padding: var(--vt-spacing-lg);
}
