.Button {
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
    border-radius: var(--default-global-radius);
    border: none;
    background-color: var(--vt-color-secondary);
    color: white;
    transition: all 0.2s ease-in;
    cursor: pointer;
    gap: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--box-shadow);
    border: 1px solid transparent;
    position: relative;
}

.buttonLarge {
    padding: 8px 22px;
}
.buttonMiddle {
    padding: 6px 15px;
}
.buttonSmall {
    padding: 4px 12px;
}

.buttonDefault {
    background-color: var(--vt-color-secondary);
    color: white;
}
.buttonPrimary {
    background-color: var(--vt-color-primary);
}
.buttonSecondary {
    background-color: var(--vt-color-secondary);
}
.buttonTertiary {
    background-color: var(--vt-color-tertiary);
    color: var(--default-dark-color);
}
.buttonQuaternary {
    background-color: var(--vt-color-quaternary);
    color: var(--default-dark-color);
}

.buttonOutline {
    background-color: transparent;
    color: var(--default-dark-color);
    border-color: var(--color-disabled);
}

.buttonCircle {
    border-radius: var(--vt-circle-radius);
}
.buttonRound {
    border-radius: var(--vt-round-radius);
}

.loading {
    opacity: 0.65;
    cursor: default;
    pointer-events: none;

    &:hover {
        pointer-events: none;
    }
}
.notAllowed {
    background-color: var(--bg-color-disabled);
    color: var(--default-dark-color);
    cursor: not-allowed;
    border: 1px solid var(--vt-color-border-disabled);
    pointer-events: none;

    &:hover {
        background-color: var(--bg-color-disabled);
        color: var(--default-dark-color);
        cursor: not-allowed;
        border: 1px solid var(--vt-color-border-disabled);
    }
}
