version: "3"
services:
    provider:
        container_name: provider
        build:
            context: ../../
            dockerfile: docker/app/Dockerfile
            args:
                ENV: ${NODE_ENV}
                WHO: ${WHO}
        restart: unless-stopped
        tty: true
        volumes:
            - "../../src/:/usr/src/app/src"
        ports:
            - "3010:3000"
        env_file:
            - .env
        networks:
            - provider

    mongodb:
        container_name: "provider-mongodb"
        build:
            context: ../../
            dockerfile: docker/mongodb/Dockerfile
        #    Uncomment to connect mongodb container to mongo compass or another service
        ports:
            - "27018:27017"
        networks:
            - provider

networks:
    provider:
        external: false
